<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHXI7y2bkj-s22783GWqiwntkdMwK0fOY</string>
	<key>GCM_SENDER_ID</key>
	<string>110074370685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.customeranwbapp</string>
	<key>PROJECT_ID</key>
	<string>customer-a-n-w-b-app-j1vp1c</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-a-n-w-b-app-j1vp1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110074370685:ios:e751108d5d1bc934522f14</string>
</dict>
</plist>